@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scrollbar-width: thin;
    scrollbar-color: white black;
    transition:ease-in-out;
    transition-duration: 150ms;
}
.tracking-20{
    margin-left: 30px;
    letter-spacing: 20px;
}
.tracking-10-no-margin{
    letter-spacing: 10px;
}
.tracking-20-no-margin{
    letter-spacing: 20px;
}
.tracking-50{
    letter-spacing: 50px;
}